{% extends "layout.html" %}
{% block title %}My Notes | Scribble{% endblock title %}

{% block content %}
{% if notes %}
<div class="my-[70px] w-full px-[10px] md:mt-[105px] lg:mt-[120px] !pb-[8px]">
    <h2 class="text-lg md:text-2xl lg:text-3xl font-bold mb-4 md:px-4 lg:px-4">Your notes</h2>
    <div class="max-w-screen-xl mx-auto w-full flex flex-col gap-10 items-center md:grid md:grid-cols-2 md:gap-8 md:px-4 lg:grid-cols-3 lg:gap-6 lg:px-4 lg:items-start">
        {% for note in notes %}
        <div class="bg-gray-800 shadow-[0_8px_20px_rgba(59,130,246,0.15)] py-5 px-8 flex flex-col gap-3 rounded-xl text-gray-200 hover:shadow-[0_15px_30px_rgba(59,130,246,0.25)] transition-all duration-300 ease-in-out hover:scale-105 cursor-pointer">
            <div class="flex itesm-center justify-between">

                <p class="flex gap-1"><strong>Title: </strong> {{note.title|slice:":15"}} </p>
            </div>
            <span>
                <strong>Category: </strong>
                {% if note.categories.exists %}
                    {% for category in note.categories.all %}
                        <a href="" class="text-sm hover:underline text-blue-500">
                            <span>{{ category.name }}</span>
                            {% if not forloop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                {% else %}
                    <a href="" class="text-sm hover:underline text-blue-500">
                        <span>Miscellaneous</span>
                    </a>
                {% endif %}
            </span>
            <p>By {{note.author.username}} </p>
            <p><strong>Content: </strong> <p class="text-justify">{{note.content}}</p> </p>
            {% if note.image %}
            <span><img src="{{note.image.url}}" alt="{{note.title}}" class="h-[200px] w-[200px]"></span>
            {% endif %}
            <div class="flex gap-4 items-center w-full">
                <a href="{% url "notehub:edit-note" note.slug %}" class="bg-violet-600 py-2 px-5 font-medium rounded-md hover:bg-violet-800 hover:scale-110 transition-all duration-300 ease-in-out md:py-3 md:px-7">Edit</a>
                <a href="{% url "notehub:delete-note" note.slug %}" class="bg-red-600 py-2 px-5 font-medium rounded-md hover:bg-red-700 hover:scale-110 transition-all duration-300 ease-in-out md:py-3 md:px-7">Delete</a>
            </div>
            <small><p class="ml-auto">{{note.created_at|timesince}} ago </small> </p>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="mt-[100px] flex items-center justify-center min-h-screen">

    <p class="text-md font-medium text-center">Your notes list is empty. Click  <a href="{% url "notehub:create-notes" %}" class="text-blue-500 hover:text-blue-600 underline hover:no-underline"> Create Note </a> to get started!</p>
</div>
{% endif %}
{% endblock content %}
